.nav-wrapper {
    padding: 0 2rem;
}

.price {
    font-size: 2rem;
}
.cart .price {
    font-size: 1.2rem;
}

.news-full {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 100%;
}

.news-full img {
    max-width: 600px;
    height: auto;
}

.news-full .price.big {
    font-size: 3rem;
}

.card-action.actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-action.actions form {
    margin: 0
}