.nav-wrapper {
    padding: 0 2rem;
}

.price {
    font-size: 2rem;
}

.news-full {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 100%;
}

.news-full img {
    max-width: 600px;
    height: auto;
}

.news-full .price.big {
    font-size: 3rem;
}